<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="question">

    <div class="media" th:each="question : ${page.tList}">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
            </h4>
            <span th:text="${question.description}"></span> <br>
            <span class="text-desc">
                <span th:text="${question.commentCount}"></span>个回复
                <span th:text="${question.likeCount}"></span>次喜欢
                <span th:text="${question.viewCount}"></span>次浏览
                <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                <span th:if="${user != null && question.user.id == user.id}"><a th:href="@{'/publish/' + ${question.id}}">编辑</a></span>
            </span>
        </div>
    </div>

</div>
</body>

</html>